Body {
	background-color:#8FD9FB
;
	max-width: 600px;
	margin: auto;
}
p {
Background-color: #F595DA;
color: #16EBFA;
}
h1 {
Background-color: #FA75D5;
color: #16EBFA;
}
h2 {
Background-color: #FA75D5;
color: #16EBFA;
}
h3 {
background-color: #FA75D5;
color: #16EBFA;
}
h4 {
Background-color: #FA75D5;
color: #16EBFA;
}
li {
Background-color: #FA75D5;
color: #16EBFA;
}
h1 {
  border-radius: 12px;
  padding: 15px;
  display: inline-block; /* Shrinks the background to fit the text */
}
h2 {
  border-radius: 10px;
  padding: 13px;
  display: inline-block; /* Shrinks the background to fit the text */
}
h3 {
  border-radius: 10px;
  padding: 12px;
  display: inline-block; /* Shrinks the background to fit the text */
}
h4 {
  border-radius: 10px;
  padding: 10px;
  display: inline-block; /* Shrinks the background to fit the text */
}
p {
  border-radius: 6px;
  padding: 8px;
  display: inline-block; /* Shrinks the background to fit the text */
